<!DOCTYPE html>
<html>
    <head>
        <title>ASK PROJEK</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static',filename='index.css') }}"> 
        <script src="{{ url_for('static',filename='index.js') }}"></script>
    </head>
    <body>
        <header>
            <nav class="top-bar small-screen">
                <ul>
                    <li><a href="/" title="Back to home">Home Page</a></li>
                    <li><a href="/record" title="New Record">Record</a></li>
                    <li><a href="/check" title="Check Record">Check</a></li>
                    <li><a href=https://github.com/FlyingShuriken/ask-project title="Source Code" target="blank">Github</a></li>
                </ul>
            </nav>
            <div id="side-bar" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="/" title="Back to home">Home Page</a>
                <a href="/record" title="New Record">Record</a>
                <a href="/check" title="Check Record">Check</a>
                <a href="https://github.com/FlyingShuriken/ask-project" title="Source Code" target="blank">Github</a>
            </div>
            <span class="hidden" onclick="openNav()">&#9776; open</span>
        </header>
        <div class="main">
            <br>
            <br>
            <br>
            <div class="container">
                <div class="box">
                    <a href="/record">SIGN IN A NEW RECORD</a>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="box">
                    <a href="/check">CHECK A STUDENT'S RECORD</a>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="box">
                    <a href="/all">CHECK ALL STUDENT'S RECORD</a>
                </div>
            </div>
        </div>
    </body>
</html>